<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah peperiksaan.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% extends "layout.html" %}

{% block title %}Tambah peperiksaan.{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Tambah peperiksaan:</h2>
    <div class="container mt-4">
        <form method="POST">

            <div class="form-group mb-3">
                <label>Person:</label>
                <select name="id_persekolahan" class="form-control" required>
                    <option value="" disabled selected>Sila pilih</option>
                    {% for person in details_person %}
                    <option value="{{ person.id_persekolahan }}">{{ person.full_name }}: {{ person.nama_kelas }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label>Peperiksaan:</label>
                <input type="text" name="nama_peperiksaan" value="" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label>Tahun Peperiksaan:</label>
                <input type="text" name="tahun_peperiksaan" value="" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label>Tarikh Peperiksaan:</label>
                <input type="date" name="tarikh_peperiksaan" value="" class="form-control" required>
            </div>
            <div class="container mt-4">
                <button type="submit" class="btn btn-primary">Tambah</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                <a href="{{ url_for('peperiksaan') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Peperiksaan.</th>
            <th>Tahun peperiksaan</th>
            <th>Tarikh peperiksaan</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Sekolah</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ exam.nama_peperiksaan }}</td>
            <td>{{ exam.tahun_peperiksaan }}</td>
            <td>{{ exam.tarikh_peperiksaan }}</td>
            <td>{{ exam.full_name }}</td>
            <td>{{ exam.nama_kelas }}</td>
            <td>{{ exam.nama_sekolah }}</td>
            <td>
                <a href="{{ url_for('edit_peperiksaan', id=exam.id_peperiksaan) }}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>