<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit maklumat guru.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% extends "layout.html" %}

{% block title %}Job Logs{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Edit maklumat guru.</h2>
    <form method="POST">
        <div class="form-group">
            <label>id_guru</label>
            <input type="text" name="id_guru" value="{{ data.id_guru }}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" name="nama_guru" value="{{ data.nama_guru }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email_guru" value="{{ data.email_guru }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label>No. Phone</label>
            <input type="text" name="phone_number" value="{{ data.phone_number }}" class="form-control" required>
        </div>

        <!-- Add more fields as needed -->
        <button type="submit" class="btn btn-primary">Update</button>
        <button class="btn btn-secondary" onclick="history.back()">Back</button>
        <a href="{{ url_for('insert_guru') }}" class="btn btn-secondary">Cancel</a>

    </form>
    <form method="POST" action="{{ url_for('delete_guru', id=data.id_guru) }}" onsubmit="return confirm('Are you sure you want to delete this guru?');">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}
</body>
</html>
