<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peperiksaan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% extends "layout.html" %}

{% block title %}Job Logs{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2>Senarai Peperiksaan</h2>
    <a href="{{ url_for('add_peperiksaan') }}" class="btn btn-primary mt-2">Tambah Peperiksaan</a>
</div>
<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Tarikh</th>
            <th>Nama peperiksaan</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Daftar Subjek</th>
            <th>Keputusan</th>
        </tr>
        </thead>
        <tbody>
        {% for peperiksaan in data_peperiksaan %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ peperiksaan.tarikh_peperiksaan }}</td>
            <td>{{ peperiksaan.nama_peperiksaan }}</td>
            <td>{{ peperiksaan.full_name }}</td>
            <td>{{ peperiksaan.nama_kelas }}</td>
            <td>
                <a href="{{ url_for('daftar_subjek', id_peperiksaan=peperiksaan.id_peperiksaan)}}" class="btn btn-secondary">Daftar subjek</a>
            </td>
            <td>
                <a href="{{ url_for('view_results', id_peperiksaan=peperiksaan.id_peperiksaan )}}" class="btn btn-secondary">View</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
</body>
</html>